*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
font-family: 'Bungee Shade', cursive;
font-family: 'Dancing Script', cursive;
*/

html {
  overflow-x: hidden;
  text-align: left;
}

body {
  background-color: rgb(234, 252, 255);
  
}

p {
  font-family: 'Prompt', sans-serif;
}

.splash {
  height: 100vh;
  overflow: hidden;
}

.splash-body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 80%;
  padding-right: .25rem;
  z-index: 1;
}

.splash-text {
  font-family: 'Bungee Shade', cursive;
  text-align: right;
  font-size: 6em;
  padding: 1rem 0;
  transform: scaleY(2);
  background-color:chartreuse;
  background-clip: text;
  -webkit-background-clip: text;
  /* color: transparent; */
}

.splash-text-subtle {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  color: rgb(67, 67, 67);
  padding-right: .25em;
}

.info-container {
  width: 100%;
  height: 100%;
  margin: 1em 0;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}

.info-header-pizazz {
  height: .5em;
  width: 75%;
  background-color: chartreuse;
  position: absolute;
  top: 1em;
  z-index: 2;
}

.info-header-pizazz--left {
  left: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.info-header-pizazz--right {
  right: 0;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.info-header {
  font-family: 'Emblema One', cursive;
  font-size: 2em;
  padding: 0 1em;
  z-index: 3;
  text-shadow:2px 2px 4px rgba(67, 67, 67, 0.317);
}

.info-header--left {
  text-align: left;
}

.info-header--right {
  text-align: right;
}

.info-body-pizazz {
  height: 80vw;
  width: 80vw;
  border-radius: 50%;
  background: linear-gradient(#ff9bd2, #95aeee);
  z-index: 0;
  position: absolute;
  margin-top: -15%;
}

.info-body-pizazz--left {
  left: 5%;
  margin-left: -15%;
}

.info-body-pizazz--right {
  right: 5%;
  margin-right: -15%;
}

.info-body {
  width: fit-content;
  border: 2px solid rgb(156, 150, 150);
  margin: 1em auto;
  padding: 2em;
  background-color: white;
  border-radius: 3px;
  box-shadow: 9px 7px 11px 0px #39393954;
  position: relative;
  z-index: 1;
}

.info-body-text {
  font-size: 1.25em;
  line-height: 1.6em;
  letter-spacing: .1em;
  margin: 0 auto;
  width: fit-content;
}

.pronouns {
  font-family: 'Dancing Script', cursive;
  color:rgb(67, 67, 67);
}

.emphasis {
  display: inline-block;
  margin: .1em;
  padding: .25em;
}

.noun {
  transition: cubic-bezier(1, 0, 0, 1);
}

.hidden {
  visibility: hidden;
  transition: cubic-bezier(1, 0, 0, 1);
}

/* test */
.fade-out {
  animation: fadeOut ease 2s;
  -webkit-animation: fadeOut ease 2s;
  -moz-animation: fadeOut ease 2s;
  -o-animation: fadeOut ease 2s;
  -ms-animation: fadeOut ease 2s;
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@media screen and (min-width: 500px) {
  .splash-text {
    font-size: 20vw;
  }
  
  .splash-text-subtle {
    padding-top: .5em
  }

  .info-header-pizazz {
    height: .75em;
    top: 1.25em;
  }

  .info-header {
    font-size: 2.5em;
  }

  .info-body-pizazz {
    height: 70vw;
    width: 70vw;
  }

  .info-body {
    width: 80%;
    padding: 3em;
  }
}

@media screen and (min-width: 900px) {
  .splash-text {
    font-size: 181px;
  }
  
  .splash-text-subtle {
    font-size: 4em;
  }

  .info-body-pizazz {
    height: 60vw;
    width: 60vw;
  }

  .info-body {
    width: 70%;
  }
}

@media screen and (min-width: 1000px) {
  .info-container {
    padding: 0 1em;
  }

  .splash-text {
    letter-spacing: 3vw;
  }

  .info-header-pizazz {
    height: .75em;
    top: 1.5em;
  }

  .info-header {
    font-size: 3em;
  }

  .info-body {
    width: 65%;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}