.brand-statement {
  font-size: 1.2em;
  text-align: center;
  margin-bottom: 1em;
}

.info-sub-section {
  margin: 2em 0;
}

.info-sub-header {
  font-family: 'Emblema One';
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.filters-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.filter-btn {
  width: 45%;
  height: 4em;
  margin: .25em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(128, 0, 255);
  background-color: rgba(128, 0, 255, 0.375);
  border-radius: 4px;
  text-align: center;
  font-weight: 600;
  letter-spacing: .05em;
  transition: box-shadow .2s ease-in-out;
  cursor: pointer;
}

.filter-btn:hover {
  box-shadow: 2px 5px 4px rgba(118, 118, 118, 0.774);
}

.selected {
  border-color: rgb(2, 145, 143);
  background-color: rgb(2, 145, 143, 0.375);
}

/* --------------- Skills -------------- */
.skill-strings {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: .05em;
  word-spacing: .25em;
}

.skill-strings-Languages {
  color: rgb(230, 146, 0);
}

.skill-strings-Databases {
  color: rgb(149, 0, 255);
}

.skill-strings-FNT {
  color: rgb(152, 2, 2);
}

/* --------------- Experience -------------- */
.experience-list-item-context {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: .5em;
  width: 100%;
}

.experience-list-item-context > p {
  font-style: italic;
  padding-right: 3px;
}

.experience-list-item-description {
  width: 100%;
}

.experience-list-item-accomplishments > li {
  list-style: inside;
}

.experience-list-item-accomplishments p {
  display: inline;
}

/* --------------- Projects -------------- */
.project-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2em 0;
  height: fit-content;
}

.project-list-item-header {
  font-size: 1.5em;
  font-family: 'Roboto Mono', monospace;
  padding-bottom: .25em;
  border-bottom: 3px solid chartreuse;
}

.project-list-item-tech {
  margin: 1em 0;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.project-list-item-tech-item {
  position: relative;
  width: fit-content;
  min-width: 6em;
  text-align: center;
  margin: 1em .5em;
}

.project-list-item-tech-item-pizazz {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2em;
  margin-top: -.5em;
  width: 0; 
  height: 0; 
  border-left: 2em solid transparent;
  border-right: 2em solid transparent;
  border-top: 4em solid rgba(0, 166, 255, 0.797);
}

.project-list-item-tech-item-name {
  font-weight: 600;
  font-size: 1.1em;
  word-spacing: .2em;
  background-color: rgb(9, 255, 0, .48);
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto;
  padding: .5em;
  position: relative;
  z-index: 3;
}

.project-list-item-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.project-list-item-link {
  width: 7em;
  padding: .5em;
  margin: .5em;

  border-spacing: 2px;
  border-style: solid;
  border-radius: 5px;
  border-left: none;
  border-right: none;
  border-top-color: #fa9e48;
  border-bottom-color: #f251fa;
  background: linear-gradient(#ffa651, #f76bff);

  color: black;
  text-align: center;
  text-decoration: none;
  font-family: 'Prompt', sans-serif;
  letter-spacing: .1em;
  font-size: 1.25em;
  transition: box-shadow .2s ease-in-out;
}

.project-list-item-link:hover {
  box-shadow: 2px 5px 4px rgba(118, 118, 118, 0.774);
}

.disabled {
  color: #454545;
  border-spacing: 2px;
  border-style: solid;
  border-radius: 5px;
  border-left: none;
  border-right: none;
  border-top-color: #dbdada;
  border-bottom-color: #7d7c7c;
  background: linear-gradient(#dedddd, #828181);
  pointer-events: none;
}

/* --------------- Break points -------------- */
@media screen and (min-width: 900px) {
  .project-list, .skills-list, .experience-list {
    margin: 0 auto;
    width: 90%;
  }
}

/* 
@media screen and (min-width: 500px)
@media screen and (min-width: 1000px)
*/